<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Snapping</title>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'web_coq_blocks/myStyles.css' %}">

</head>
<body>
    <h1>V15 - nové definice, vizuály bloků</h1>
    <h2 id="resizeHeader">Automatic Resize</h2>
    <button onclick="switchToAutomatic()">Automatic Resize</button>
    <button onclick="switchToManual()">Manual Resize</button>

    <input id="defInput">
    <button onclick="loadDefinition()">Load Definition</button>

    
    <!-- Definition block -->
    <div class="ground" id="ground">
        <div class="block definition 1plug">Definition
            <div class="block-plug"></div>
        </div>
    </div>

    <script>
        console.log("GROUN OFFSET: " + $("#ground").offset().left + ", " + $("#ground").offset().top);

        var blockCount = 0;
        var typeCount = 0;
        var blockObjects = [];
        var hypothesisObjects = [];
        var snapTargets = [];
        var snappedBlocks = [];
        var orderedSnappedBlocks = [];
        var previousSnappedBlocks = [];
        var zIndexCount = 1;
        // Rozdíl mezi pozicí 0,0 stránky a 0,0 ground elementu, protože interact.js bere 0,0 z groundu
        var docGroundDiffLeft = $("#ground").offset().left;
        var docGroundDiffTop = $("#ground").offset().top;
        // Při různém zoomu stránky se mění velikost borderu !!! Počítám velikost podle Definition bloku
        var defBlock = $(".definition").get(0)
        var borderSize = defBlock.getBoundingClientRect().width - defBlock.clientWidth;
        var resizeMode = "Auto";
        var blockColors = ["rgb(255, 0, 0)", "rgb(0, 102, 255)", "rgb(255, 255, 0)", "rgb(0, 128, 0)", "rgb(227, 117, 0)", "rgb(0, 238, 255)", "rgb(234, 0, 255)", "rgb(111, 255, 0)", "rgb(170, 11, 64)", "rgb(98, 47, 0)", "rgb(66, 0, 190)"]
        var plugInBlockPos = 0.6;
        var icon1 = '<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16" style="display:inline;"><path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z"/></svg>';
        var delBtnWidth = 20;
        switch (resizeMode) {
            // Automatický mód pro resize bloků
            case "Auto":
                automaticResizeConfig();
                break;

            // Manuální mód pro resize bloků
            case "Manual":
                manualResizeConfig();
                break;
        }

        function checkForSnap(){ // Kontrola které bloky jsou snapnuty

            // Uložení předchozí verze pole
            previousSnappedBlocks = snappedBlocks.slice(); // .slice() pro přiřazení hodnoty a NE referenci !!!
            snappedBlocks.length = 0;

            let blocks = $(".block").toArray();

            // Kontrola pozic každého bloku se snap pozicemi
            blocks.forEach(block => {
                blockOffset = $(block).offset();
                snapTargets.forEach(snapTarget => {
                    let deltaX = Math.abs(snapTarget.x - blockOffset.left);
                    let deltaY = Math.abs(snapTarget.y - (blockOffset.top + $(block).height() * plugInBlockPos));
                    if(deltaX < 4 && deltaY < 4) { // 4 pixel tolerance pro snapping
                        console.log("delta: " + deltaX + ", " + deltaY);
                        plug = $(snapTarget.block).find(".block-plug").get(snapTarget.plug);
                        snappedBlocks.push({ parent: snapTarget.block, plugIndex: snapTarget.plug, plug: plug, child: block });
                    } 
                });
            });
        }

        function snapOccured(snappedParent, snappedChild, plug) {
            let arrayCurr = snappedBlocks.slice();
            let arrayPrev = previousSnappedBlocks.slice();
            let difference;

            console.log("snappedBlocks: ");
            console.log(snappedBlocks);
            console.log("previousSnappedBlocks: ");
            console.log(previousSnappedBlocks);

            function objectsEqual(obj1, obj2) {
                return obj1.parent === obj2.parent &&
                    obj1.plugIndex === obj2.plugIndex &&
                    obj1.plug === obj2.plug &&
                    obj1.child === obj2.child;
            }
                
            // Nalezení společných prvků
            let sameElements = arrayCurr.filter(itemCurr =>
                arrayPrev.some(itemPrev => objectsEqual(itemCurr, itemPrev))
            );

            // Odstranění společných prvků z obou polí
            let uniqueCurr = arrayCurr.filter(itemCurr =>
                !sameElements.some(itemPrev => objectsEqual(itemCurr, itemPrev))
            );
            let uniquePrev = arrayPrev.filter(itemPrev =>
                !sameElements.some(itemCurr => objectsEqual(itemPrev, itemCurr))
            );

            if (uniquePrev.length == 0 && uniqueCurr.length == 1) {
                console.log("Just normal SNAP +++ difference:");
                console.log(uniqueCurr);

                let parent = uniqueCurr[0].parent;
                let child = uniqueCurr[0].child;
                let heightValue = child.offsetHeight;
                let stop;
                
                // Změna velikosti všech rodičovských bloků
                // .style.height nastavuje výšku pouze obsahu; .offsetHeight vrací výšku i s borderem a paddingem, proto musím odečíst velikost 1 borderu
                while (true) {
                    stop = true;
                    snappedBlocks.forEach(function(snappedBlock){
                        if (snappedBlock.child === parent) {
                            if (!parent.classList.contains("1plug")) {
                                // Zvětšení rodičovského bloku, pokud se nejedná o 1plug
                                parent.style.height = `${parent.offsetHeight - borderSize + heightValue}px`;
                            }
                            stop = false;

                            child = parent;
                            parent = snappedBlock.parent;
                        }
                    });

                    if(stop){   // Konečné zvětšení posledního bloku
                        if (!parent.classList.contains("1plug")) {
                            parent.style.height = `${parent.offsetHeight - borderSize + heightValue}px`;
                        }
                        break;
                    }
                }

                orderedSnappedBlocks = orderSnappedBlocks();

                // Nová pozice pro všechny snapnuté bloky kvůli změně velikosti díky snapu/odsnapu
                orderedSnappedBlocks.forEach(function(snappedBlock) {
                    // Zisk pozice plugu pro novou pozici child bloku
                    let currentPlug = $(snappedBlock.plug);
                    let currentPlugOffset = currentPlug.offset();

                    // Aktualizace pozice potomka
                    let x = currentPlugOffset.left + currentPlug.width() - docGroundDiffLeft - 1;
                    let y = currentPlugOffset.top + currentPlug.height() / 2 - snappedBlock.child.offsetHeight * plugInBlockPos - docGroundDiffTop + 2;

                    snappedBlock.child.style.transform = `translate(${x}px, ${y}px)`;
                    snappedBlock.child.setAttribute('data-x', x);
                    snappedBlock.child.setAttribute('data-y', y);
                });

            }
            else if (uniqueCurr.length == 0 && uniquePrev.length == 1) {
                console.log("Just normal UNSNAP --- difference:");
                console.log(uniquePrev);

                // // Zvětšení rodičovského bloku
                // uniquePrev[0].parent.style.height = `${uniquePrev[0].parent.offsetHeight - uniquePrev[0].child.offsetHeight}px`;

                let parent = uniquePrev[0].parent;
                let child = uniquePrev[0].child;
                let heightValue = child.offsetHeight;
                let stop;
                
                // Změna velikosti všech rodičovských bloků
                while (true) {
                    stop = true;
                    snappedBlocks.forEach(function(snappedBlock){
                        if (snappedBlock.child === parent) {
                            if (!parent.classList.contains("1plug")) {
                                // Zvětšení rodičovského bloku, pokud se nejedná o 1plug
                                parent.style.height = `${parent.offsetHeight - borderSize - heightValue}px`;
                            }
                            stop = false;

                            child = parent;
                            parent = snappedBlock.parent;
                        }
                    });

                    if(stop){   // Konečné zvětšení posledního bloku
                        if (!parent.classList.contains("1plug")) {
                            parent.style.height = `${parent.offsetHeight - borderSize - heightValue}px`;
                        }
                        break;
                    }
                }

                orderedSnappedBlocks = orderSnappedBlocks();

                // Nová pozice pro všechny snapnuté bloky kvůli změně velikosti díky snapu/odsnapu
                orderedSnappedBlocks.forEach(function(snappedBlock) {
                    if (!objectsEqual(snappedBlock, uniquePrev[0])) {
                        // Zisk pozice plugu pro novou pozici child bloku
                        let currentPlug = $(snappedBlock.plug);
                        let currentPlugOffset = currentPlug.offset();

                        // Aktualizace pozice potomka
                        let x = currentPlugOffset.left + currentPlug.width() - docGroundDiffLeft - 1;
                        let y = currentPlugOffset.top + currentPlug.height() / 2 - snappedBlock.child.offsetHeight * plugInBlockPos - docGroundDiffTop + 2;

                        snappedBlock.child.style.transform = `translate(${x}px, ${y}px)`;
                        snappedBlock.child.setAttribute('data-x', x);
                        snappedBlock.child.setAttribute('data-y', y);
                    }
                });
            
            }
            else if (uniqueCurr.length == 0 && uniquePrev.length == 0) {
                console.log("Just move");
            }
            else {  // Drag z 1 snapnutého bloku na 2; unikátní pouze 1 blok kvůli zrušení nelistových dragů 
                console.log("At the same time --- & +++ snap:");
                console.log("Currently:");
                console.log(uniqueCurr);
                console.log("Previously:");
                console.log(uniquePrev);

                
                // Prvně zmenšení původních bloků, proto použiju previousSnappedBlocks
                let parent = uniquePrev[0].parent;
                let child = uniquePrev[0].child;
                let heightValue = child.offsetHeight;
                let stop;

                while (true) {
                    stop = true;
                    previousSnappedBlocks.forEach(function(snappedBlock){
                        if (snappedBlock.child === parent) {
                            if (!parent.classList.contains("1plug")) {
                                // Zvětšení rodičovského bloku, pokud se nejedná o 1plug
                                parent.style.height = `${parent.offsetHeight - borderSize - heightValue}px`;
                            }
                            stop = false;

                            child = parent;
                            parent = snappedBlock.parent;
                        }
                    });

                    if(stop){   // Konečné zvětšení posledního bloku
                        if (!parent.classList.contains("1plug")) {
                            parent.style.height = `${parent.offsetHeight - borderSize - heightValue}px`;
                        }
                        break;
                    }
                }

                // Zvětšení nových bloků
                parent = uniqueCurr[0].parent;
                child = uniqueCurr[0].child;
                heightValue = child.offsetHeight;
                
                while (true) {
                    stop = true;
                    snappedBlocks.forEach(function(snappedBlock){
                        if (snappedBlock.child === parent) {
                            if (!parent.classList.contains("1plug")) {
                                // Zvětšení rodičovského bloku, pokud se nejedná o 1plug
                                parent.style.height = `${parent.offsetHeight - borderSize + heightValue}px`;
                            }
                            stop = false;

                            child = parent;
                            parent = snappedBlock.parent;
                        }
                    });

                    if(stop){   // Konečné zvětšení posledního bloku
                        if (!parent.classList.contains("1plug")) {
                            parent.style.height = `${parent.offsetHeight - borderSize + heightValue}px`;
                        }
                        break;
                    }
                }

                // Nové pozice
                orderedSnappedBlocks = orderSnappedBlocks();

                orderedSnappedBlocks.forEach(function(snappedBlock) {
                    // Zisk pozice plugu pro novou pozici child bloku
                    let currentPlug = $(snappedBlock.plug);
                    let currentPlugOffset = currentPlug.offset();

                    // Aktualizace pozice potomka
                    let x = currentPlugOffset.left + currentPlug.width() - docGroundDiffLeft - 1;
                    let y = currentPlugOffset.top + currentPlug.height() / 2 - snappedBlock.child.offsetHeight * plugInBlockPos - docGroundDiffTop + 2;

                    snappedBlock.child.style.transform = `translate(${x}px, ${y}px)`;
                    snappedBlock.child.setAttribute('data-x', x);
                    snappedBlock.child.setAttribute('data-y', y);
                });
            }
            
        }

        function orderSnappedBlocks() {
            // Najít kořenové bloky (bloky, které nemají rodiče)
            let rootBlocks = snappedBlocks.filter(block => !snappedBlocks.some(otherBlock => otherBlock.child === block.parent));
            
            let orderedBlocks = [];
            let queue = rootBlocks.slice(); // Zkopírovat kořenové bloky do fronty
            
            while (queue.length > 0) {
                let currentBlock = queue.shift(); // Odebrat první blok z fronty
                orderedBlocks.push(currentBlock); // Přidat blok do uspořádaného pole
                
                // Najít všechny potomky aktuálního bloku
                let children = snappedBlocks.filter(block => block.parent === currentBlock.child);
                queue = queue.concat(children); // Přidat potomky do fronty
            }
            
            if (orderedBlocks.length == snappedBlocks.length) {
                return orderedBlocks;
            }
            else {
                return console.error("ORDERING BLOCK FAIL");
            }
        }

        function dragControl() {
            // Nalezení listových snapů
            let leafSnaps = snappedBlocks.filter(block1 => 
                !snappedBlocks.some(block2 => block1.child === block2.parent)
            );
            // Listové bloky
            let leafBlocks = leafSnaps.map(block => block.child);

            // Nalezení větvených snapů
            let branchSnaps = snappedBlocks.filter(block1 => 
                snappedBlocks.some(block2 => block1.child === block2.parent)
            );
            // Větvené bloky + rodiče listových bloků, jde o set kvůli rušení duplicit
            let branchBlocks = new Set(branchSnaps.map(block => block.parent).concat(leafSnaps.map(block => block.parent)));

            console.log("leaf blocks:");
            console.log(leafBlocks);

            console.log("branch blocks:");
            console.log(branchBlocks);

            // Přidání třídy draggable pro všechny bloky, kromě bloku definition
            $(".block").each(function() {
                if (!this.classList.contains("definition")) {
                    this.classList.add("draggable");
                }
            });

            // Odebrání draggable pro větvené bloky
            branchBlocks.forEach(function(block){
                block.classList.remove("draggable");
            });
        }

        function addDeleteBtnClass() {
            // DELETE BUTTONY
            let blocks = Array.from(document.getElementsByClassName("block"));
            let notSnappedBlocks = blocks.filter(block1 => !snappedBlocks.some(block2 => block1 === block2.parent) && !snappedBlocks.some(block3 => block1 === block3.child));
            notSnappedBlocks = notSnappedBlocks.filter(block => !block.classList.contains("definition"));
            blocks.forEach(block => block.classList.remove("hasDeleteButton"));
            notSnappedBlocks.forEach(block => block.classList.add("hasDeleteButton"));
        }

        function deleteButtonsControl() {
            addDeleteBtnClass();
            
            let blocks = Array.from(document.getElementsByClassName("block"));
            blocks.forEach(function(block){
                let deleteBtn = block.querySelector(".deleteButton");
                if(deleteBtn){
                    deleteBtn.remove();
                };
            });
            
            let blocksWBtn = Array.from(document.getElementsByClassName("hasDeleteButton"));
            blocksWBtn.forEach(function(block){
                let deleteBtn = document.createElement("button");
                deleteBtn.setAttribute("class", "deleteButton");
                deleteBtn.setAttribute("onclick", "deleteBlock(this)");
                deleteBtn.innerText = "X";
                block.appendChild(deleteBtn);
            });

        }

        function updateSnapTargets(movedBlock) {
            let dotElement = movedBlock.querySelector(".block-dot");
            let requiredType = dotElement.innerText;
            console.log("Required type:", requiredType);

            // Dynamicky aktualizovat snap body
            snapTargets.length = 0;

            $(".block").each(function() {
                var block = $(this);
                var left = block.offset().left;
                var top = block.offset().top;
                var width = block.width();
                var height = block.height();

                // .get(0) převede jQuery objekt na DOM objekt
                var blockElement = block.get(0);
                
                // Zkontrolovat, zda první potomek existuje a má třídu 'block-plug'
                if(blockElement){
                    var plugs = $(blockElement).find(".block-plug");
                    let i = 0;
                    plugs.each(function() {
                        var plug = $(this);
                        let plugType = plug.get(0).innerText;
                        var plugOffset = plug.offset();
                        console.log(requiredType + "-vs-" + plugType);
                        if (plugType == requiredType){
                            snapTargets.push({ x: plugOffset.left + plug.width() - 1 , y: plugOffset.top + plug.height()/2 + 2, block: blockElement, plug: i });
                        }
                        i++;
                    });
                }
            });

            console.log("Updated snap targets:", snapTargets);
        }


        
        function switchToAutomatic() {
            document.getElementById("resizeHeader").innerText = "Automatic Resize";
            resizeMode = "Auto";
            console.log(resizeMode);
            let blocks = Array.from($(".block"));
            blocks.forEach(function(block){
                if (!block.classList.contains("definition")){
                    block.remove();
                }
            });

            // Nová konfigurace
            automaticResizeConfig();
        }

        function switchToManual() {
            document.getElementById("resizeHeader").innerText = "Manual Resize";
            resizeMode = "Manual";
            console.log(resizeMode);
            let blocks = Array.from($(".block"));
            blocks.forEach(function(block){
                if (!block.classList.contains("definition")){
                    block.remove();
                }
            });

            // Nová konfigurace
            manualResizeConfig();
            
        }

        function automaticResizeConfig() {
            interact('.draggable').draggable({
                inertia: false,
                autoScroll: true,
                listeners: {
                    start(event) {
                        var target = event.target;
                        target.style.zIndex = zIndexCount;
                        zIndexCount += 1;
                    },
    
                    move(event) {
                        var target = event.target;
                        var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx;
                        var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;
                        
                        // Zapsání změny pozice
                        target.style.transform = `translate(${x}px, ${y}px)`;
                        target.setAttribute('data-x', x);
                        target.setAttribute('data-y', y);
                        
                        // Log pro nové pozice
                        console.log(" ------------------ MOVE ------------------ ")
                        console.log("new X: " + x + ", Y: " + y + ", X+DiffLeft: " + String(Number(x+docGroundDiffLeft)) + ", Y+DiffTop: " + String(Number(y+docGroundDiffTop)));
                        console.log("Position of DOT X: " + String(Number(x+docGroundDiffLeft)) + ", Y: " + String(Number(y+docGroundDiffTop+target.offsetHeight/2)));
                        // Dynamická aktualizace snap targets
                        updateSnapTargets(target);
                        interact('.draggable').draggable({
                            modifiers: [
                                interact.modifiers.snap({
                                    targets: snapTargets, // Nové nastavení snapTargets
                                    range: 30,
                                    relativePoints: [{ x: 0, y: plugInBlockPos }]
                                }),
                                interact.modifiers.restrictRect({
                                    restriction: 'document',
                                    endOnly: true
                                })
                            ]
                        });
                        
                    },
                    
                    end(event) {
                        // Výpis všech snapů do pole snappedBlocks
                        checkForSnap();
                        
                        // Akce s novými snapy
                        snapOccured();
                        
                        // Pouze krajní bloky mohou mít drag + třídy pro delete buttony
                        dragControl();
                        
                        // Delete buttony pouze pro nesnapnuté bloky
                        deleteButtonsControl();
                        
                        console.log('Drag ended', event);
                    }
                },
                modifiers: [
                    interact.modifiers.snap({
                        targets: snapTargets,
                        range: 30,
                        relativePoints: [{ x: 0, y: plugInBlockPos }]
                    }),
                    interact.modifiers.restrictRect({
                        restriction: 'document',
                        endOnly: true
                    })
                ]
            });
        }

        function manualResizeConfig() {
            interact('.draggable').draggable({
                inertia: false,
                autoScroll: true,
                listeners: {
                    start(event) {
                        var target = event.target;
                        target.style.zIndex = zIndexCount;
                        zIndexCount += 1;
                    },
    
                    move(event) {
                        var target = event.target;
                        var x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx;
                        var y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;
    
                        // Zapsání změny pozice
                        target.style.transform = `translate(${x}px, ${y}px)`;
                        target.setAttribute('data-x', x);
                        target.setAttribute('data-y', y);
                        
                        // Log pro nové pozice
                        console.log(" ------------------ MOVE ------------------ ")
                        console.log("new X: " + x + ", Y: " + y + ", X+DiffLeft: " + String(Number(x+docGroundDiffLeft)) + ", Y+DiffTop: " + String(Number(y+docGroundDiffTop)));
                        console.log("Position of DOT X: " + String(Number(x+docGroundDiffLeft)) + ", Y: " + String(Number(y+docGroundDiffTop+target.offsetHeight/2)));
                        // Dynamická aktualizace snap targets
                        updateSnapTargets(target);
                        interact('.draggable').draggable({
                            modifiers: [
                                interact.modifiers.snap({
                                    targets: snapTargets, // Nové nastavení snapTargets
                                    range: 30,
                                    relativePoints: [{ x: 0, y: plugInBlockPos }]
                                }),
                                interact.modifiers.restrictRect({
                                    restriction: 'document',
                                    endOnly: true
                                })
                            ]
                        });
                        
                    },
                    
                    end(event) {
                        // Výpis všech snapů do pole snappedBlocks
                        checkForSnap();
                        
                        // Pouze krajní bloky mohou mít drag + třídy pro delete buttony
                        dragControl();
                        
                        // Delete buttony pouze pro nesnapnuté bloky
                        deleteButtonsControl();
                        
                        console.log('Drag ended', event);
                    }
                },
                modifiers: [
                    interact.modifiers.snap({
                        targets: snapTargets,
                        range: 30,
                        relativePoints: [{ x: 0, y: plugInBlockPos }]
                    }),
                    interact.modifiers.restrictRect({
                        restriction: 'document',
                        endOnly: true
                    })
                ]
            })
            .resizable({
                edges: { left: false, right: false, bottom: true, top: true },
                listeners: {
                    move(event) {
                        let target = event.target;
                        let x = (parseFloat(target.getAttribute('data-x')) || 0);
                        let y = (parseFloat(target.getAttribute('data-y')) || 0);

                        // Aktualizace velikosti elementu
                        target.style.width = `${event.rect.width}px`;
                        target.style.height = `${event.rect.height}px`;
                        
                        // Přizpůsobení pozice při změně velikosti
                        x += event.deltaRect.left;
                        y += event.deltaRect.top;
                        
                        target.style.transform = `translate(${x}px, ${y}px)`;

                        target.setAttribute('data-x', x);
                        target.setAttribute('data-y', y);
                    },
                    end(event) {
                        // Výpis všech snapů do pole snappedBlocks
                        checkForSnap();
    
                        // Pouze krajní bloky mohou mít drag + třídy pro delete buttony
                        dragControl();
    
                        // Delete buttony pouze pro nesnapnuté bloky
                        deleteButtonsControl();
                        
                        console.log('Resize ended', event);
                    }
                },
                modifiers: [
                    // minimum size
                    interact.modifiers.restrictSize({
                        min: { width: 100, height: 50 }
                    })
                ],
                inertia: false
            });
        }

        function getPlugPositions(n) {
            // Výpočet je od 0 do 90%, ke konci posunu výsledek o 10% kvůli nadpisu

            if (n === 0 ) {
                return [];
            }
            else if (n === 1) {
                return [String(50 + 10)];  // Pokud je pouze jeden prvek, vrátíme střed.
            }
            
            let margin = 45 / n;  // Vypočítáme margin na základě počtu prvků.
            let positions = [];

            for (let i = 1; i <= n; i++) {
                // Vypočítáme pozici každého prvku
                let position = ((i - 1) * (90 - 2 * margin) / (n - 1)) + margin;
                positions.push(String(position + 10));
            }
            
            return positions;
        }
        
        function createBlock(data){
            data.new_types.forEach(function(newType){
                let type_name = newType.name;
                let type_parameters = newType.type_parameters;
                let explicit_constructors = newType.explicit_constructors;
                let implicit_constructors = newType.implicit_constructors;

                // Ternární operátor
                let constructors = explicit_constructors.length > implicit_constructors.length ? explicit_constructors : implicit_constructors

                constructors.forEach(function(newConstructor){
                    let type_color = blockColors[typeCount];
                    let constructor_name = newConstructor.name;
                    let parameters = newConstructor.parameters;
                    let nameOfBlock = type_name + "\u00A0:\u00A0" + constructor_name;
                    let is_explicit = "type" in newConstructor;

                    constructor_type = "";
                    if (is_explicit) {
                        constructor_type = newConstructor.type.length == 2 ? newConstructor.type[0]+"\u00A0"+newConstructor.type[1] : newConstructor.type[0];
                    }

                    let variablesCount = 0;
                    parameters.forEach(function(param){
                        if (Array.isArray(param.variables)){
                            variablesCount += (param.variables.length - 1);
                        }
                    });
                    let plugPositions = getPlugPositions(parameters.length + variablesCount);
                    
                    // Nový blok
                    let newBlock = document.createElement("div");
                    newBlock.setAttribute("id", "block:" + blockCount);
                    newBlock.setAttribute("class", "block draggable");
                    newBlock.style.backgroundColor = type_color;

                    let groundElement = document.getElementById("ground");
                    groundElement.appendChild(newBlock);

                    // Název bloku
                    let blockName = document.createElement("div");
                    blockName.setAttribute("class", "blockName");
                    blockName.style.position = "absolute";
                    blockName.style.top = "10px";
                    blockName.style.left = "40px";
                    blockName.style.fontWeight = "bold";
                    blockName.innerText = nameOfBlock;
                    newBlock.appendChild(blockName);
        
                    // Dot
                    let dot = document.createElement("div");
                    dot.setAttribute("class", "block-dot");
                    dot.style.backgroundColor = type_color;
                    dot.innerHTML = icon1;
                    let dotLabel = document.createElement("div");
                    dot.appendChild(dotLabel);
                    // Pokud je explicit tak typ konstruktoru, jinak typ bloku
                    dotLabel.innerText = is_explicit ? constructor_type : type_name;
                    dotLabel.style.position = "absolute";
                    dotLabel.style.left = "25px";
                    
                    newBlock.appendChild(dot);
                
                    // Plugy
                    let paramNum = parameters.length + variablesCount;
                    let aktPlug = 0;
                    let widestLabel = blockName.offsetWidth + delBtnWidth;
                    parameters.forEach(function(param){
                        // Pokud jsou proměnné s 1 typem (v jednom parametru), vždy pro implicitní
                        if (Array.isArray(param.variables)) {
                            param.variables.forEach(function(variable){
                                let plug = document.createElement("div");
                                newBlock.appendChild(plug);
                                plug.setAttribute("class", "block-plug");
                                plug.style.top = plugPositions[aktPlug] + "%";
                                
                                // Label pro plug
                                let typeLabel = document.createElement("div");
                                plug.appendChild(typeLabel);
                                typeLabel.innerText = param.type.length == 2 ? param.type[0]+"\u00A0"+param.type[1] : param.type[0];
                                typeLabel.style.position = "absolute";
                                typeLabel.style.right = "120%";
                                typeLabel.style.top = "5px";
                                console.log(typeLabel.offsetWidth + plug.offsetWidth);
                                console.log(widestLabel);
                                if (typeLabel.offsetWidth + plug.offsetWidth > widestLabel){
                                    widestLabel = typeLabel.offsetWidth + plug.offsetWidth + dotLabel.offsetWidth;
                                }
        
                                aktPlug += 1;
                            });
                        }
                        else {
                            let plug = document.createElement("div");
                            newBlock.appendChild(plug);
                            plug.setAttribute("class", "block-plug");
                            plug.style.top = plugPositions[aktPlug] + "%";
                            
                            // Label pro plug
                            let typeLabel = document.createElement("div");
                            plug.appendChild(typeLabel);
                            typeLabel.innerText = param.type.length == 2 ? param.type[0]+"\u00A0"+param.type[1] : param.type[0];
                            typeLabel.style.position = "absolute";
                            typeLabel.style.right = "120%";
                            typeLabel.style.top = "5px";
                            console.log(typeLabel.offsetWidth + plug.offsetWidth);
                            console.log(widestLabel);
                            if (typeLabel.offsetWidth + plug.offsetWidth > widestLabel){
                                widestLabel = typeLabel.offsetWidth + plug.offsetWidth + dotLabel.offsetWidth;
                            }
    
                            aktPlug += 1;
                        }

                    });

                    // Id bloku
                    blockCount += 1;

                    if (paramNum == 1){
                        newBlock.classList.add("1plug");
                    }
                        
                    // Dynamická velikost bloku podle obsahu + přidání několika pixelů pro velikost (padding ne bo nefachá dobře se snappem)
                    newBlock.style.width = String(widestLabel + 50) + "px";
                    if (paramNum == 0) {
                        newBlock.style.height = "70px";
                    }
                    else {
                        newBlock.style.height = String(paramNum*50 + 20) + "px";
                    }
                });
                typeCount += 1;
            });

            // přidání snap pozice
            // updateSnapTargets();
            deleteButtonsControl();
        }
        
        function deleteBlock(button){
            let parent = button.parentElement;
            parent.remove();
        }

        function loadDefinition() {
            let definition = $("#defInput").val();
            console.log("def: " + definition);

            fetch('http://127.0.0.1:8000/api/newdef/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain',
                },
                body: definition,
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.text();  // Zpracování jako text
            })
            .then(data => {
                data = JSON.parse(data);
                console.log('Success:', data);

                data.hypothesis.forEach(hypothes => hypothesisObjects.push(hypothes));
                data.new_types.forEach(function(new_type) {
                    if (new_type.explicit_constructors.length != 0){
                        new_type.explicit_constructors.forEach(constructor => blockObjects.push(constructor));
                    }
                    else if (new_type.implicit_constructors.length != 0){
                        new_type.implicit_constructors.forEach(constructor => blockObjects.push(constructor));
                    }
                });

                createBlock(data);
            })
            .catch(error => console.error('Error:', error));
        }


        $(document).ready(function() {
            // updateSnapTargets();
            
        });

        </script>
</body>
</html>
