<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Snapping</title>
    <!-- Interact.js -->
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    
    <!-- JQuerry -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

    <!-- Vlastní styly -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'web_coq_blocks/myStyles.css' %}">

</head>
<body>
    <header>
        <h1>COQ Definition Maker</h1>

    </header>

    <div class="container-fluid">

        <div class="row">

            <div class="col-9">

                <div class="card">
                    <div class="card-body overflow-auto" style="height: 90vh;" id="ground"></div>
                </div>

            </div>
            <div class="col-3">
                
                <h2 id="resizeHeader">Automatic Resize</h2>
                <input id="defInput" class="form-control">
                <button id="loadBtn" class="btn btn-success">Load Definition</button>
                <button id="autoBtn" class="btn btn-success" >Automatic Resize</button>
                <button id="manualBtn" class="btn btn-success">Manual Resize</button>
            
            
                <button id="exportBtn" class="btn btn-success">Export</button>
                <button id="newDefBtn" class="btn btn-success">New Definition</button>

            </div>

        </div>
    
        <ul id="result"></ul>

    </div>



    <script type="module" src="{% static 'web_coq_blocks/main.js' %}"></script>

</body>
</html>
