<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dynamic Snapping</title>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'web_coq_blocks/myStyles.css' %}">

</head>
<body>
    <h1>V15 - nové definice, vizuály bloků</h1>
    <h2 id="resizeHeader">Automatic Resize</h2>
    <button id="autoBtn" >Automatic Resize</button>
    <button id="manualBtn">Manual Resize</button>

    <input id="defInput">
    <button id="loadBtn">Load Definition</button>

    <button id="exportBtn">Export</button>
    <button id="newDefBtn">New Definition</button>


    <div class="ground" id="ground">
    </div>

    <ul id="result"></ul>

    <script type="module" src="{% static 'web_coq_blocks/main.js' %}"></script>

</body>
</html>
