.delete-block-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;

    cursor: pointer;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s, background-color 0.2s;
    z-index: 100;
}

.delete-block-btn:hover {
    transform: scale(1.2);
}

.block {
    min-width: 50px;
    min-height: 50px;
    position: absolute;
    border: 2px solid;
    border-radius: 10px;

    /* Dissables text select for dragging */
    /* Safari / Chrome */
    -webkit-user-select: none;

    /* Firefox */
    -moz-user-select: none;

    /* IE 10+ */
    -ms-user-select: none;

    /* Standard */
    user-select: none;

    cursor: grab;
}

.block:active {
    cursor: grabbing;
}

.block input {
    /* Allows to write in inputs, should be possible defaultly, but just in case */
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;

    cursor: text;
}

.block-dot,
.block-plug {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;

}

.block-plug {
    border: 2px solid;
    border-right-color: transparent;
    right: -5px;
    z-index: 10;
    box-shadow: inset 5px 3px 5px rgba(0, 0, 0, 0.3);
}

.block-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-right-color: transparent;
    position: absolute;
    /* top: 50%; */
    left: -28px;
    /* transform: translateY(-50%); */
}

#accordionSetting {
    position: absolute;
    bottom: 0;
    width: 94%;
}

#alertPlaceholder {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 600px;
}