.delete-block-btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;

    cursor: pointer;
    color: #000;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.2s, background-color 0.2s;
    z-index: 100;
}

.delete-block-btn:hover {
    transform: scale(1.2);
}

.block {
    min-width: 50px;
    min-height: 50px;
    position: absolute;
    border: 2px solid;
    border-radius: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.block-dot,
.block-plug {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* polovina šířky kruhu */
    transform: translateY(-50%);
}

.block-plug {
    border: 2px solid;
    border-right-color: transparent;
    background-color: #ffffff;
    top: 50%;
    right: -5px;
}

.block-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-right-color: transparent;
    top: 60%;
    left: -28px;
}

#accordionSetting {
    position: absolute;
    bottom: 0;
    width: 94%;
}

#alertPlaceholder {
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 600px;
}